{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <!-- bradcam_area  -->
    {% block bradcam %}

    {% endblock %}

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">
                        {% block reg %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
