<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'jobs:job_list' %}">Browse Jobs</a></li>
                                        <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="{% url 'logout' %}">Logout</a>
                                    </div>
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="{% url 'accounts:profile' %}">profile</a>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="{% url 'jobs:post_job' %}">Post a Job</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="{% url 'login' %}">Login</a>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="{% url 'accounts:signup' %}">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>