{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block bradcam %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>Login Page</h3>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
{% block reg %}



  {% if user.is_authenticated %}
    <p>Nta msjl mn 9bl</p>
  {% else %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="login" class="boxed-btn3 w-100" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <br>
  <small class="text-muted ml-2">
    <a href="{% url 'password_reset' %}">Forget Password ?</a>
 </small>
 <br>
  <br>
<div class="border-top pt-3">
    <p class="text-muted">
        Don't have an account ? <a href="{% url 'accounts:signup' %}" class="ml-2 btn btn-info">Register</a>
    </p>
</div>
{% endif %}


{% endblock %}